<!-- Instagram Feed -->
<div class="instagram-feed text-center">
  <h3 class="heading uppercase">Instagram</h3>
  <h5 class="heading uppercase mb-30">follow @stephanie_wellprodxb</h5>
  <ul id="instafeed-row"></ul>
</div>


<div class="widget-social">
  <div class="social-icons text-center">
    <a href="https://www.instagram.com/stephanie_wellprodxb/">
      <i class="fa fa-instagram"></i>
      <span>instagram</span>
    </a>
    <a href="{{facebook_url}}">
      <i class="fa fa-facebook"></i>
      <span>facebook</span>
    </a>
    <a href="{{twitter_url}}">
      <i class="fa fa-twitter"></i>
      <span>twitter</span>
    </a>
    <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">
      <i class="fa fa-rss"></i>
      <span>rss</span>
    </a>
  </div>
</div>
<!-- Footer Type-1 -->
<footer class="footer footer-type-1 bg-dark">
  <div class="bottom-footer">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 copyright text-center">
          <span>
            © 2018 Wellpro Dubai
          </span>
        </div>

      </div>
    </div>
  </div>
</footer> <!-- end footer -->

<div id="back-to-top">
  <a href="#top"><i class="fa fa-angle-up"></i></a>
</div>
