<header class="nav-type-1 dark-nav">
  <!-- Fullscreen search -->
  <div class="search-wrap">
    <div class="search-inner">
      <div class="search-cell">
        <form method="get">
          <div class="search-field-holder">
            <input type="search" class="form-control main-search-input" placeholder="Search for">
            <div class="search-submit-icon"><i class="icon icon_search"></i></div>
            <input type="submit" class="search-submit" value="search">
          </div>
        </form>
      </div>
    </div>
    <i class="icon icon_close search-close" id="search-close"></i>
  </div> <!-- end fullscreen search -->

  {{#if @blog.navigation}}
      {{navigation}}
  {{/if}}
</header>
