{{!< default }}

  {{> recent-loop}}
  <!-- Content -->
  <section class="content blog-standard">
    <div class="container relative">
      <div class="row">
        <!-- post content -->
        <div class="col-md-9 post-content mb-50">
          <section class="posts">
          	{{> loop}}
          </section>
        </div>
        {{> sidebar}}
      </div>
    </div>
  </section>
</div>
